.header {
  font-size: 1.3rem;
  background-color: rgb(22, 22, 22);
  padding: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  z-index: 3;
  top: 0;
}

.characters {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 1em;
}

.characters img {
  width: 3rem;
  height: 3rem;
  border-radius: 10px;
}

.characters h2 {
  font-size: 3rem;
}

.characters li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

@media (max-width: 700px) {
  .charName {
    display: none;
  }
  .characters img {
    width: 2rem;
    height: 2rem;
  }

  .characters h2 {
    font-size: 1.5rem;
  }
}
