.wrapper {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.mainImage {
  width: 100%;
}

.charList {
  z-index: 1;
  position: absolute;
  background-color: rgb(22, 22, 22);
  list-style: none;
  padding-inline-start: 0;
  padding: 0.7em;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.charList li button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 1em;
}

.charList li img {
  border-radius: 10px;
}

.charListBottom {
  top: 200px;
}

.pin {
  stroke: rgb(255, 38, 0);
  position: absolute;
  width: 3rem;
  height: 3rem;
  z-index: 1;
}

.errorMessage {
  background-color: rgb(151, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 1em;
  font-size: 2rem;
  z-index: 3;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 15%;
  left: 50%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 700px) {
  .charName {
    display: hidden;
  }
  .errorMessage {
    padding: 0.5em;
    font-size: 1.5rem;
  }
}
